# these are separate requirements for building sphinx documentation
ipython
ruff
pre_commit
mypy
coffea
# runtime dependency of the ATLAS ntuple layout (particle masses)
particle
uproot
requests
aiohttp

# these are for documentation
Sphinx~=7.0
sphinx_rtd_theme
nbsphinx
graphviz
ghp-import